version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=Nov2017890
    ports:
      - "5432:5432"
